<div class="flex flex-row">
    <fuse-vertical-navigation
        class="dark bg-gray-900 print:hidden"
        [mode]="isScreenSmall ? 'over' : 'side'"
        [name]="'mainNavigation'"
        [navigation]="navigation"
        [opened]="!isScreenSmall">
        <!-- Navigation header hook -->
        <ng-container fuseVerticalNavigationContentHeader>
            <!-- Logo -->
            <div class="flex items-center h-20 p-6 pb-0">
                <!-- Light version -->
                <img
                    class="dark:hidden w-30"
                    src="assets/images/logo/logo-text.svg"
                    alt="Logo image">
                <!-- Dark version -->
                <img
                    class="hidden dark:flex w-30"
                    src="assets/images/logo/logo-text-on-dark.svg"
                    alt="Logo image">
            </div>
        </ng-container>
    </fuse-vertical-navigation>
    <div>
        <router-outlet></router-outlet>
    </div>
</div>
